/Enterprise/Enterprise-war/nbproject/private/
/Enterprise/nbproject/private/
/Supervision-war/nbproject/private/
/RSUBDStandalone-ejb/nbproject/private/
/Enterprise/Enterprise-ejb/nbproject/private/
/backup/Enterprise-ejb/nbproject/private/
/backup/Enterprise-war/nbproject/private/
/RSUBDStandalone-ejb/build/
/RSUBDStandalone-ejb/dist/
/Supervision/Supervision-ejb/build/
/Supervision/Supervision-ejb/nbproject/private/
/Supervision/Supervision-war/nbproject/private/
/Supervision/nbproject/private/
/UGADNStandalone-ejb/build/
/UGADNStandalone-ejb/dist/
/UGADNStandalone-ejb/nbproject/private/
/Enterprise/dist/
/Enterprise/build/
/Enterprise/Enterprise-ejb/dist/
/Enterprise/Enterprise-ejb/build/
/Enterprise/Enterprise-war/build/
/Enterprise/Enterprise-war/dist/